{% extends "base.html" %}

{% block content %}
  <p>
    Once upon a midnight dreary, while I porn-surfed, weak and weary, <br />
    Over many a strange and spurious porn-site of "hot chicks galore", <br />
    While I clicked my fav'rite bookmark, suddenly there came a warning, <br />
    And my heart was filled with mourning, mourning for my dear amour, <br />
    "Tis not possible," I muttered, "give me back my free hardcore!" <br />
    Quoth the server:
  </p>
  <p class="title">404</p>
  <p class="subtitle">Page not Found</p>
{% endblock %}
