{% extends "base.html" %}

{% block content %}
    <form name="input" action="." method="post">
        {% csrf_token %}
        <h1 class="section-header">
            Step 1: Create a Form
        </h1>
        <img class="separator" src="static/img/fleur.png" />

        <p>
            Create a form from your
            <a href="https://drive.google.com" target="_blank">Google Drive</a>
            account. Add a &ldquo;Short answer&rdquo; question with the title
            &ldquo;{{ token_field_name }}&rdquo;. It's important that you use that
            exact title.
        </p>

        <h1 class="section-header">
            Step 2: Enter the URL
        </h1>
        <img class="separator" src="static/img/fleur.png" />

        <p>
            Once you've created the form, view it. You should be at a URL that looks
            like <code class="long-code">
                https://docs.google.com/forms/d/2sYUU34lkjsd787khKJH23J8aslJKJ7asfh879/viewform
            </code>. Copy that URL into this box:
        </p>

        {% if error %}

            <div class="control-group error">
                <input type="text" name="formurl" class="input-xxlarge" value="{{ formurl }}" />
                <div class="help-block">
                    Something's wrong with your form. Double-check that the form URL
                    is correct and that you have a &ldquo;Text&rdquo; question with
                    the title &ldquo;Authentication Token&rdquo;.
                </div>
            </div>

        {% else %}

            <div class="control-group">
                <input type="text" name="formurl" class="input-xxlarge"/>
            </div>

        {% endif %}



        <h1 class="section-header">
            Step 3: Click This Button
        </h1>
        <img class="separator" src="static/img/fleur.png" />

        <p class="button-p">
            <input class="btn btn-inverse btn-large" type="submit" value="Continue &raquo;">
        </p>
    </form>
{% endblock %}
